node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
public/uploads

# Playwright Test Outputs
test-results/
playwright-report/

# Firebase configuration
firebase-applet-config.json

# Bundle Visualizer Output
stats.html

# Test Outputs
tests/test-output.pdf

# Patch files
*.patch

# Logs
console.log
