@import "tailwindcss";

@theme {
  --animate-shimmer: shimmer 2s linear infinite;

  @keyframes shimmer {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

.suggestions-dropdown {
  backdrop-filter: blur(20px);
}
